*.mat
*.jpg
**/data
**/.vscode
**/.ipynb_checkpoints
**/__pycache__
**/.idea
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._datasetSentences.txt
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._datasetSplit.txt
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._dictionary.txt
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._original_rt_snippets.txt
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._README.txt
/assignments/assignment5/__MACOSX/stanfordSentimentTreebank/._sentiment_labels.txt
/assignments/assignment5/stanfordSentimentTreebank/datasetSentences.txt
/assignments/assignment5/stanfordSentimentTreebank/datasetSplit.txt
/assignments/assignment5/stanfordSentimentTreebank/dictionary.txt
/assignments/assignment5/stanfordSentimentTreebank/original_rt_snippets.txt
/assignments/assignment5/stanfordSentimentTreebank/README.txt
/assignments/assignment5/stanfordSentimentTreebank/sentiment_labels.txt
/assignments/assignment5/stanfordSentimentTreebank/SOStr.txt
/assignments/assignment5/stanfordSentimentTreebank/STree.txt
*.json
*.rtf